<%= _.template(require('./../includes/header.html'))() %>
    <main class="main">
        <div class="container container_unsubscribe">
            <div class="row">
                <div class="col">
                    <h2>Your<br><span class="h2_row">Subscriptions</span></h2>
                    <form action="">
                        <div class="form-group form-group_swicher">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                                <label class="custom-control-label" for="customSwitch1">We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form</label>
                            </div>
                        </div>
                        <div class="form-group form-group_swicher">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch2" checked>
                                <label class="custom-control-label" for="customSwitch2">We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form</label>
                            </div>
                        </div>
                        <div class="form-group form-group_swicher">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch3">
                                <label class="custom-control-label" for="customSwitch3">We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form</label>
                            </div>
                        </div>
                        <div class="form-group form-group_swicher form-group_swicher-last">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch4">
                                <label class="custom-control-label" for="customSwitch4">We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form</label>
                            </div>
                        </div>
                        <div class="form-group form-group_btn-unsuscr">
                            <button class="btn btn_w100">save preferences <svg class="btn__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path class="btn__icon_p" fill="#fff" d="M48.5 30.3L19 .7c-1-1-2.5-1-3.5 0s-1 2.5 0 3.5L43.3 32 15.5 59.8c-1 1-1 2.5 0 3.5.5.5 1.1.7 1.7.7s1.3-.2 1.7-.7l29.5-29.5c1.1-1 1.1-2.6.1-3.5z"/></svg></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
<%= _.template(require('./../includes/footer.html'))() %>