.footer {
  background-color: $bg_dark_1;
  a.footer__link {
    font-family: $font_family2;
    font-weight: 700;
    color: $footer_text_color;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
  }
  a.footer__link:hover {
    color: $footer_text_color_hover;
    text-decoration: none;
  }
  a.footer__link:active {
    color: $footer_text_color_active;
    text-decoration: none;
  }
  a.footer__link {
    + a.footer__link {
      margin-top: 42px;
    }
  }
  @media (min-width: 992px) {
    a.footer__link {
      //font-size: 31px;
    }
    a.footer__link {
      margin: 0;
      + a.footer__link {
        margin-top: 0;
        margin-left: 55px;
      }
    }
  }
  @media (min-width: 1200px) {
    a.footer__link {
      font-size: 20px;
    }
    a.footer__link {
      + a.footer__link {
        margin-left: 80px;
      }
    }
  }
  @media (min-width: 1920px) {
    a.footer__link {
      font-size: 31px;
    }
    a.footer__link {
      + a.footer__link {
        margin-left: 130px;
      }
    }
  }
}

.footer__bottom {
  padding: 84px 0 84px;
  @media (min-width: 992px) {
    padding: 131px 0 117px;
  }
}
