.header {
  position: relative;
  &.expand {
    .header__nav-toggle {
      .menu {
        //background-image: url('../img/icons/close.svg');
      }
    }
    .header-menu {
      display: block;
    }
  }
}

.body_bg {
  .header {
    background-color: $body_bg_color;
    margin: 0;
  }
}

.notice {
  display: inline-block;
  background-color: $bg_light_1;
  border-radius: 100%;
  color: $font_color2;
  font-weight: 500;
  font-size: 10px;
  padding: 7px 8px 6px;
  line-height: 1;
  text-align: center;
  margin: 0;
  &:hover {
    color: $font_color2;
    background-color: $btn_bg_color_hover;
  }
  @media (min-width: 992px) {
    font-size: 16px;
    padding: 8px 13px;
    margin: 0 0 0 27px;
  }
}

.header_page {
  margin-bottom: 40px;
  @media (min-width: 992px) {
    margin-bottom: 95px;
  }
}

.header_page-mobnull {
  margin: 0;
  @media (min-width: 992px) {
    margin-bottom: 67px;
  }
}

.header_page-list {
  margin-bottom: 0;
  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media (min-width: 992px) {
    margin-bottom: 100px;
  }
  @media (min-width: 1920px) {
    margin-bottom: 100px;
  }
}

.header__row {
  padding: 40px 0 34px;
  @media (min-width: 992px) {
    padding: 80px 0 93px;
  }
  &.header__row_border {
    border-bottom: 1px solid $bg_dark_1;
  }
  .header__row-inline {
    position: relative;
  }
}

.header__nav-toggle {
  position: absolute;
  top: -28px;
  transform: translateX(-28px);
  cursor: pointer;
  @media (min-width: 992px) {
    top: 10px;
    left: 50%;
    transform: translateX(270px);
  }
  .menu {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto;
    //background-image: url('../img/icons/menu.svg');
    //transition: 0.1s all;
    cursor: pointer;
    @media (min-width: 992px) {
      width: 50px;
      height: 50px;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

.header__userinfo {
  .header__userinfo-text {
    text-transform: uppercase;
    font-family: $font_family;
    font-weight: 500;
    color: $font_color2;
    font-size: 23px;
    letter-spacing: 1px;
    .notice {
      @media (min-width: 992px) {
        margin: 0 0 0 28px;
      }
    }
  }
}

.header-menu {
  display: none;
  background-color: rgba($bg_light_1, 0.95);
}
.header-menu__wrap {
  padding: 15px;
}
.header-menu__item {
  padding: 25px 0 25px;
  font-family: $font_family;
  font-weight: 400;
  font-size: 13px;
  color: $font_color;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  @media (min-width: 992px) {
    font-size: 20px;
  }
  .notice {
    margin: 18px 0 0;
    background-color: $body_bg_color;
    color: $bg_light_1;
    @media (min-width: 992px) {
      margin: 0 0 0 28px;
    }
  }
  &:hover {
    text-decoration: none;
    color: $font_color;
    .notice {
      background-color: $bg_light_2;
      color: $font_color2;
    }
  }
}
.header-menu__item-text {
  word-break: break-all;
  line-height: 1;
}



