.header {
  position: relative;
  &.expand {
    .header__nav-toggle {
      .menu {
        background-image: url('../img/icons/close.svg');
        @media (min-width: 992px) {
          background-size: 32px;
        }
      }
    }
    .header__row_border {
      border: none;
    }
    .header-menu {
      display: block;
    }
  }
}

.body_bg {
  .header {
    background-color: $body_bg_color;
    margin: 0;
  }
}

.notice {
  display: inline-block;
  background-color: transparent;
  border: 1px solid $btn_bg_color;
  border-radius: 100px;
  color: $btn_bg_color;
  font-weight: 500;
  font-size: 14px;
  padding: 12px 15px 8px;
  line-height: 1;
  text-align: center;
  margin: 0;
  &:hover {
    color: $font_color3;
    background-color: $btn_bg_color_hover;
    border-color: $btn_bg_color_hover;
  }
  @media (min-width: 992px) {
    font-size: 16px;
    padding: 12px 15px 8px;
    margin: 0 0 0 27px;
  }
}

.header_page {
  margin-bottom: 40px;
  @media (min-width: 992px) {
    margin-bottom: 95px;
  }
}

.header_page-mobnull {
  margin: 0;
  @media (min-width: 992px) {
    margin-bottom: 67px;
  }
}

.header_page-list {
  margin-bottom: 0;
  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media (min-width: 992px) {
    margin-bottom: 100px;
  }
  @media (min-width: 1920px) {
    margin-bottom: 100px;
  }
}

.header__row {
  padding: 36px 0 32px;
  @media (min-width: 992px) {
    padding: 75px 0 66px;
  }
  &.header__row_border {
    border-bottom: 1px solid $bg_dark_2;
  }
  .header__row-inline {
    position: relative;
  }
}

.header__nav-toggle {
  cursor: pointer;
  @media (min-width: 1200px) {
    position: absolute;
    right: 0;
  }
  .menu {
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto;
    background-image: url('../img/icons/menu.svg');
    transition: 0.1s all;
    cursor: pointer;
    @media (min-width: 992px) {
      width: 44px;
      height: 44px;
    }
    &:hover {
      opacity: 0.8;
    }
    &.menu_notify {
      background-image: url('../img/icons/menu-notifications.svg');
      background-position-y: calc(50% - 1px);
      @media (min-width: 992px) {
        background-position-y: calc(50% - 2px);
      }
    }
  }
}

.header__userinfo {
  .header__userinfo-text {
    text-transform: uppercase;
    font-family: $font_family;
    font-weight: 500;
    color: $font_color2;
    font-size: 23px;
    letter-spacing: 1px;
    .notice {
      @media (min-width: 992px) {
        margin: 0 0 0 28px;
      }
    }
  }
}

.header-menu {
  display: none;
  background-color: $bg_dark_1;
}
.header-menu__wrap {
  padding: 80px;
}
.header-menu__item {
  padding: 15px 0 15px;
  font-family: $font_family;
  font-weight: 500;
  font-size: 14px;
  color: $font_color2;
  text-decoration: none;
  line-height: 1;
  @media (min-width: 992px) {
    font-size: 20px;
  }
  .notice {
    margin: 15px 0 0;
    @media (min-width: 992px) {
      margin: 0 0 0 28px;
    }
  }
  &:hover {
    text-decoration: none;
    color: $font_color2;
    .notice {
      color: $font_color3;
      background-color: $btn_bg_color_hover;
      border-color: $btn_bg_color_hover;
    }
  }
}
.header-menu__item-text {
  word-break: break-all;
  line-height: 1;
}



