.display {}
.display_01 {}
.display_02 {}
.display_03 {}

.btn_display-01 {
  @media (min-width: 1200px) {
    margin-left: auto;
  }
}

.firstscreen {
  height: 621px;
  position: relative;
  @media (min-width: 992px) {
    height: 621px;
  }
  @media (min-width: 1200px) {
    height: 640px;
  }
  @media (min-width: 1500px) {
    height: 770px;
  }
  @media (min-width: 1920px) {
    height: 941px;
  }
}

.firstscreen__bg {
  position: absolute;
  top: 74px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 547px;
  z-index: -100;
  @media (min-width: 1200px) {
    left: auto;
    top: 128px;
    width: 660px;
    height: 506px;
  }
  @media (min-width: 1500px) {
    left: auto;
    top: 128px;
    width: 830px;
    height: 636px;
  }
  @media (min-width: 1920px) {
    left: auto;
    top: 128px;
    width: 1060px;
    height: 813px;
  }
}

.bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.firstscreen__content {
  position: absolute;
  top: 74px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 547px;
  z-index: 10;
  background-color: rgba(#56076D, 0.36);
  @media (min-width: 1200px) {
    top: 0;
    background-color: transparent;
  }
}

.firstscreen__header {
  width: 100%;
  background-image: url('../img/bg/bg-header-mob.svg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100%;
  height: 90px;
  padding: 35px 0 0;
  margin: 0 0 43px;
  position: relative;
  z-index: 20;
  @media (min-width: 992px) {
    height: 140px;
  }
  @media (min-width: 1200px) {
    position: static;
    background: none;
    height: auto;
    margin: 0;
    padding: 150px 0 40px;
  }
  @media (min-width: 1500px) {
    padding: 165px 0 63px;
  }
  @media (min-width: 1920px) {
    padding: 207px 0 89px;
  }
}
.firstscreen__header-inner {}

.firstscreen__info {
  width: 100%;
  margin: 51px auto 0;
  max-width: 452px;
  @media (min-width: 992px) {
    margin: 98px auto 0;
    max-width: 452px;
  }
  @media (min-width: 1200px) {
    margin: 0;
    max-width: 452px;
  }
  @media (min-width: 1500px) {
    max-width: 452px;
  }
  @media (min-width: 1920px) {
    max-width: 452px;
  }
}
.firstscreen__info1 {
  width: 100%;
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {}
  @media (min-width: 1500px) {}
  @media (min-width: 1920px) {}
}
.firstscreen__info2 {
  display: none;
  width: 100%;
  max-width: 452px;
  @media (min-width: 992px) {
    max-width: 452px;
  }
  @media (min-width: 1200px) {
    max-width: 499px;
  }
  @media (min-width: 1500px) {
    max-width: 499px;
  }
  @media (min-width: 1920px) {
    max-width: 499px;
  }
}
.firstscreen__info3 {
  display: none;
  width: 100%;
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {}
  @media (min-width: 1500px) {}
  @media (min-width: 1920px) {}
}

.secondscreen {
  position: relative;
  color: $font_color;
  padding: 70px 0 0;
  background-image: url('../img/bg/bg-secondscreen-mob.svg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100%;
  @media (min-width: 1200px) {
    padding: 228px 0 0;
    background: none;
  }
  @media (min-width: 1500px) {
    padding: 228px 0 0;
  }
  @media (min-width: 1920px) {
    .pl-xl-5 {
      padding-left: 15px!important;
    }
    .pr-xl-5 {
      padding-right: 15px!important;
    }
  }
}

.search-progress {
  &.progress {
    width: 100%;
    height: 46px;
    background-color: #fff;
    border-radius: 33px;
    position: relative;
    @media (min-width: 1200px) {
      height: 77px;
    }
  }
  .progress-bar {
    background-color: $bg_light_2;
    border-radius: 33px;
    border: none;
    transition: width 0.2s linear;
  }
  .search-progress__title {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    color: $body_bg_color;
    font-family: $font_family2;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    @media (min-width: 1200px) {
      font-size: 24px;
      transform: translate(-50%, -2px);
    }
  }
}

.index-btn-area {
  margin: 0 auto 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @media (min-width: 1200px) {
    margin: 0 auto;
    z-index: 2;
  }
}

@keyframes bits {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}

.btn-index {
  //animation: 2s bits infinite linear;
}

.circle {
  @media (min-width: 1200px) {
    &.circle1 {
      @include circle(20px, $btn_bg_color);
    }
    &.circle2 {
      @include circle(60px, $btn_bg_color);
    }
  }
}


.collage {
  width: 100%;
  margin: 0 0 33px;
  position: relative;
  @media (min-width: 576px) {;
    margin: 0 0 60px;
  }
  @media (min-width: 1200px) {
    margin: -69px 0 119px;
    position: relative;
  }
}

.collage__img {
  width: 100%;
  height: auto;
  @media (min-width: 1200px) {
    position: relative;
    bottom: -1px;
  }
}
