.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .logo__img {
    width: 21px;
    height: 19px;
    margin: 0 8px 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    background-image: url('../img/icons/logo.svg');
    @media (min-width: 992px) {
      width: 47px;
      height: 42px;
      margin: 8px 19px 0;
    }
  }
  .logo__txt {
    font-family: $font_family;
    font-weight: 500;
    color: $font_color2;
    font-size: 14px;
    @media (min-width: 992px) {
      font-size: 26px;
    }
  }
}

.logo_main {
  @media (min-width: 1200px) {
    justify-content: flex-start;
  }
  .logo__img {
    width: 24px;
    height: 21px;
    margin: 0 8px 0;
    @media (min-width: 992px) {
      width: 55px;
      height: 49px;
      margin: 8px 22px 0;
    }
  }
  .logo__txt {
    font-size: 15px;
    @media (min-width: 992px) {
      font-size: 31px;
    }
  }
}

@keyframes heartspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes heartbeat1 {
  0% {
    width: 129px;
    height: 127px;
  }
  50% {
    width: 83px;
    height: 82px;
  }
  100% {
    width: 129px;
    height: 127px;
  }
}

@keyframes heartbeat2 {
  0% {
    width: 129px;
    height: 127px;
  }
  50% {
    width: 269px;
    height: 263px;
  }
  100% {
    width: 129px;
    height: 127px;
  }
}
