.owl-carousel {
  .owl-dots {
    position: absolute;
    bottom: 80px;
    padding: 0 30px;
    width: 100%;
    text-align: center;
    @media (min-width: 1200px) {
      bottom: 105px;
    }
  }

  button.owl-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    min-width: 8px;
    min-height: 8px;
    background-color: $body_bg_color;
    border: none;
    border-radius: 100%;
    outline: none;

    + button.owl-dot {
      margin-left: 9px;
    }

    &.active {
      background-color: rgba(#fff, 0.74);
    }
  }
}

.userprofile-mob {
  margin-bottom: 33px;
  position: relative;
  text-align: center;
}

.userprofile {
  position: relative;
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.userprofile__photo {
  margin: 0 auto;
  position: relative;
  width: 290px;
  max-width: 290px;
  @media (min-width: 366px) {
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 1200px) {
    width: 430px;
    max-width: 430px;
    margin: 0 95px 0 0;
  }
}

.userprofile__figure {
  display: block;
  max-width: 100%;
  height: 446px;
  max-height: 446px;
  border-radius: 250px;
  overflow: hidden;
  margin: 0;
  @media (min-width: 992px) {
    height: 350px;
    max-height: 350px;
  }
  @media (min-width: 1200px) {
    height: 556px;
    max-height: 556px;
  }
}

.userprofile__img {
  max-width: 100%;
  height: auto;
}

.up-slider-wrap {
}

.up-slider {
  width: 290px;
  height: 464px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  .slide {
    width: 290px;
    border-radius: 250px;
    overflow: hidden;

    .up-slider__img {
      width: 100%;
      height: 464px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      position: relative;
    }
  }
  &.owl-carousel {
    .owl-dots {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 26px 0 0;
      width: auto;
      height: 215px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (min-width: 1200px) {
        display: none;
      }
    }
    button.owl-dot {
      display: block;
      width: 2px;
      height: 20px;
      min-width: 2px;
      min-height: 20px;
      background-color: #fff;
      border: none;
      border-radius: 0;
      outline: none;
      + button.owl-dot {
        margin-left: 0;
        margin-top: 9px;
      }
      &.active {
        background-color: $btn_bg_color;
      }
    }
    .owl-dots_mini1 {
      button.owl-dot {
        height: 8px;
        min-height: 8px;
        + button.owl-dot {
          margin-top: 5px;
        }
      }
    }
    .owl-dots_mini2 {
      overflow: hidden;
      button.owl-dot {
        width: 1px;
        min-width: 1px;
        height: 5px;
        min-height: 5px;
        + button.owl-dot {
          margin-top: 3px;
        }
      }
    }
  }
}

.userprofile__btn {
  transform: translateY(-40px);
  @media (min-width: 400px) {
    max-width: 320px;
  }
  @media (min-width: 992px) {
    max-width: 450px;
  }
}

.userprofile__info {
  width: 100%;
  margin: 0 auto;
  @media (min-width: 400px) {
    max-width: 320px;
  }
  @media (min-width: 992px) {
    max-width: 396px;
  }
  @media (min-width: 1200px) {
    margin: 0;
  }
}

.userprofile__row {
  color: $font_color3;
  font-family: $font_family;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 45px;
  text-align: center;
  @media (min-width: 1200px) {
    text-align: left;
    margin-bottom: 49px;
  }
}

.userprofile__name {
  font-size: 20px;
  margin: 0 0 19px 0;
  text-transform: uppercase;
  @media (min-width: 1200px) {
    font-size: 41px;
    margin: 0 0 26px 0;
  }
}

.userprofile__loc {
  font-size: 13px;
  @media (min-width: 1200px) {
    font-size: 21px;
  }
}

.userprofile__title {
  font-family: $font_family;
  font-weight: 500;
  font-size: 21px;
  line-height: 1;
  margin-bottom: 27px;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: 1200px) {
    text-align: left;
    font-size: 33px;
    margin-bottom: 18px;
  }
  @media (min-width: 1500px) {
    font-size: 33px;
    margin-bottom: 18px;
  }
}

.compatibility {
  &.compatibility_mb {
    padding-bottom: 76px;
    @media (min-width: 1200px) {
      padding-bottom: 54px;
    }
  }
  .compatibility__chart {
    +.compatibility__chart {
      //margin-left: 25px;
      @media (min-width: $user_list_item_breakpoint) {
        //margin-left: 48px;
      }
    }
  }
  .compatibility__progress {
    display: flex;
    .dotmark {
      width: 21px;
      height: 12px;
      border-radius: 100px;
      background-color: rgba($btn_bg_color, 0.35);
      + .dotmark {
        margin-left: 7px;
      }
      @media (min-width: $user_list_item_breakpoint) {
        width: 29px;
        height: 16px;
        + .dotmark {
          margin-left: 9px;
        }
      }
      @media (min-width: 1200px) {
        width: 29px;
        height: 16px;
      }
    }
    &.progress1 {
      .dotmark:nth-child(1) {
        background-color: $btn_bg_color;
      }
    }
    &.progress2 {
      .dotmark:nth-child(1),
      .dotmark:nth-child(2) {
        background-color: $btn_bg_color;
      }
    }
    &.progress3 {
      .dotmark {
        background-color: $btn_bg_color !important;
      }
    }
  }
  .compatibility__title {
    font-family: $font_family;
    color: $font_color3;
    font-weight: 500;
    font-size: 12px;
    margin-top: 17px;
    text-transform: uppercase;
    text-align: center;
    @media (min-width: $user_list_item_breakpoint) {
      font-size: 18px;
      margin-top: 21px;
    }
  }

  &.compatibility_list {}

  &.compatibility_login {}
}

.user-profile-title {
  font-family: $font_family;
  color: $font_color3;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {}
  .user-profile-title_about {
    font-size: 19px;
    margin-bottom: 35px;
    @media (min-width: 992px) {}
    @media (min-width: 1200px) {}
  }
}

.user-profile-about {
  text-align: center;
  font-size: 13px;
  position: relative;
  @media (min-width: 992px) {
    font-size: 14px;
  }
  @media (min-width: 1200px) {
    text-align: left;
    margin-bottom: 40px;
  }
  p {
    color: $font_color;
    line-height: 36px;
    @media (min-width: 992px) {
      color: $font_color3;
      line-height: 36px;
    }
  }
}

.user-profile-gallery {
  margin: 45px 0 20px;
  flex-wrap: wrap;
  .user-profile-gallery__item {
    width: 111px;
    height: 144px;
    border-radius: 100px;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
  }
  .user-profile-gallery__img {
    width: 100%;
    height: auto;
  }
}

